<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Recipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container my-5">
      <div th:switch="${recipes}" class="col-md-10 col-lg-8 mx-auto">
        <p class="col">
          <a href="/recipe/create" class="btn btn-primary">Add Recipe</a>
        </p>
        <div class="col">
          <h2 th:case="null">No Recipes found!</h2>
          <div th:case="*">
            <table class="table table-striped table-responsive-md">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Meal Type</th>
                  <th>Dish Type</th>
                  <th>Cooking Time</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="recipe : ${recipes}">
                  <td th:text="${recipe.name}"></td>
                  <td th:text="${recipe.mealType}"></td>
                  <td th:text="${recipe.dishType}"></td>
                  <td th:text="${recipe.cookingTime}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
